{%  set _intentconfgs = intentconfgs.split('\n') |
        reject('equalto', '') | list %}
{%  for confg in runconfgs if confg not in _intentconfgs %}
{{ confg.replace('set', 'delete') }}
{%  endfor %}
{%  for config in _intentconfgs if config not in runconfgs %}
{{ config }}
{%  endfor %}
