{%  set intent_bgp = bgp_neighbors[inventory_hostname]['global'] %}
{%  if intent_bgp['as_number'] != bgp_sum['ipv4 unicast']['as'] %}
net del bgp autonomous-system {{ bgp_sum['ipv4 unicast']['as'] }}
{%  else %}
{%    for neighbor in _bgp_neighbors.keys() if neighbor not in intent_bgp['neighbors'].keys() %}
{%      if neighbor.startswith('swp') %}
net del bgp neighbor {{ neighbor }} interface peer-group {{ _bgp_neighbors[neighbor]['peerGroup'] }}
{%      else %}
net del bgp neighbor {{ neighbor }} peer-group {{ _bgp_neighbors[neighbor]['peerGroup'] }}
{%      endif %}
{%    endfor %}
{%  endif %}
net commit


- name: restore frr.conf
  set_fact:
    del_commands: |
      {%  set intent_bgp = bgp_neighbors[inventory_hostname]['global'] %}
      {%  if intent_bgp['as_number'] != bgp_sum['ipv4 unicast']['as'] %}
      rm /etc/frr/frr.conf
      systemctl restart frr.service
      {%  else %}
      {%    for neighbor in _bgp_neighbors.keys() if neighbor not in intent_bgp['neighbors'].keys() %}
      {%      if neighbor.startswith('swp') %}
      net del bgp neighbor {{ neighbor }} interface peer-group {{ _bgp_neighbors[neighbor]['peerGroup'] }}
      {%      else %}
      del bgp neighbor {{ neighbor }} peer-group {{ _bgp_neighbors[neighbor]['peerGroup'] }}
      {%      endif %}
      {%    endfor %}
      {%  endif %}
      net commit
  ignore_errors: true

- name: net del
  command: "{{ item }}"
  loop: "{{ del_commands.splitlines() }}"
  when: del_commands | length > 0 and del_commands is defined
