{% loopback_address = common[inventory_hostname]['loopback_ipv4_address'] %}
{% bgp_asn = common[inventory_hostname]['bgp_asn'] %}
set interfaces loopback lo address {{ loopback_address }}
set protocols bgp {{ bgp_asn }} maximum-paths ebgp 2
set protocols bgp {{ bgp_asn }} parameters router-id {{ loopback_address | ipaddr('address') }}
set protocols bgp {{ bgp_asn }} parameters bestpath compare-routerid
set protocols bgp {{ bgp_asn }} redistribute static route-map default-originate
{% for vif, value in ip_interface[inventory_hostname]['viface'].items() %}
{% set remote_as = common[value.link_to]['bgp_asn'] %}
{% set remote_address = value.remote_address | ipaddr('address') %}
set protocols bgp {{ bgp_asn }} neighbor {{ remote_address }} remote-as {{ remote_as }}
set protocols bgp {{ bgp_asn }} neighbor {{ remote_address }} default-originate route-map default-originate
set protocols bgp {{ bgp_asn }} redistribute static route-map default-originate
{% endfor %}
