$ORIGIN {{ domain_name }}.
$TTL 907200	; 1 week 3 days 12 hours
@                IN SOA	ns1.{{ domain_name }}. admin.{{ domain_name }}. (
				2014071403 ; serial
				28800      ; refresh (8 hours)
				3600       ; retry (1 hour)
				604800     ; expire (1 week)
				38400      ; minimum (10 hours 40 minutes)
				)
			                  NS	    ns1

ns1                     A       {{ name_server }}
lab-svr01               CNAME   ns1   ; the name of the server we are building
