# Template that generate inventory base on variables in 'vars/dhcp-static-host.yml' 

localhost ansible_connection=local ansible_become=true ansible_become_pass=admin
oob-mgmt01 ansible_become=true ansible_become_pass=CumulusLinux! ansible_ssh_user=cumulus

[leaf]
{% for host in dhcp_host if host.split('0')[0] == 'leaf' %}
{{ host.split('.')[0] }}
{% endfor %}

[border-leaf]
{% for host in dhcp_host if host.split('0')[0] == 'border-leaf' %}
{{ host.split('.')[0] }}
{% endfor %}

[spine]
{% for host in dhcp_host if host.split('0')[0] == 'spine' %}
{{ host.split('.')[0] }}
{% endfor %}

[tor:children]
leaf
border-leaf

[cumulus:children]
leaf
border-leaf
spine

[edge-router]
edge-router01

[network-device:children]
leaf
border-leaf
spine
edge-router
