ddns-updates on;
ddns-update-style standard;
deny unknown-clients;
use-host-decl-names on;
authoritative;
log-facility local7;
include "/etc/dhcp/ddns-keys/rndc.key";
update-static-leases on;
default-lease-time 600;
max-lease-time 7200;
ignore client-updates;

zone {{ domain_name }}. {
        primary {{ name_server }};
        key rndc-key;
}

zone {{ oob_mgmt_subnet | ipaddr('network') | ipaddr('revdns') | regex_search('(?<=\d.)(\S+)')  }} {
        primary {{ name_server }};
        key rndc-key;
}

subnet {{ oob_mgmt_subnet | ipaddr('network') }} netmask {{ oob_mgmt_subnet | ipaddr('netmask') }} {
    option subnet-mask {{ oob_mgmt_subnet | ipaddr('netmask') }};
    option routers {{ oob_mgmt_subnet | ipaddr('-2') | ipaddr('address') }};
    option domain-name-servers {{ name_server }};
    option domain-name "{{ domain_name }}";
    ddns-domainname "{{ domain_name }}.";
    ddns-rev-domainname "in-addr.arpa.";

{% for host in groups['network'] %}
{% set node_id = host.name | regex_search('(?<=\w\d)\d+') %}
    host {{ host.name }}.cumulusvxgns3.lab {
{%    if host.name in groups['leaf'] %}
{%      set fixed_addr = oob_mgmt_subnet | ipaddr((50 + node_id | int) | string) %}
{%    elif host.name in groups['border-leaf'] %}
{%      set fixed_addr = oob_mgmt_subnet | ipaddr((231 - node_id | int) | string) %}
{%    elif host.name in groups['spine'] %}
{%      set fixed_addr = oob_mgmt_subnet | ipaddr((251 - node_id | int) | string) %}
{%    endif %}
        hardware ethernet {{ host.hwaddress }};
        fixed-address {{ fixed_addr | ipaddr('address') }};
        ddns-hostname "{{ host.name }}";
        }
{% endfor %}
}
