ddns-updates on;
ddns-update-style standard;
deny unknown-clients;
deny client-updates;
use-host-decl-names on;
authoritative;
log-facility local7;
include "/etc/dhcp/ddns-keys/rndc.key";

zone {{ domain_name }}. {
        primary {{ name_server }};
        key rndc-key;
}

zone {{ oob_mgmt_subnet | ipaddr('network') | ipaddr('revdns') | regex_search('(\d+)(\w.+)')  }} {
        primary {{ name_server }};
        key rndc-key;
}

subnet {{ oob_mgmt_subnet | ipaddr('network') }} netmask {{ oob_mgmt_subnet | ipaddr('netmask') }} {
        range {{ oob_mgmt_subnet | ipaddr('10') | ipaddr('address') }} {{ oob_mgmt_subnet | ipaddr('50') | ipaddr('address') }};
        option subnet-mask {{ oob_mgmt_subnet | ipaddr('netmask') }};
        option routers {{ oob_mgmt_subnet | ipaddr('-2') | ipaddr('address') }};
        option domain-name-servers {{ name_server }};
        option domain-name "{{ domain_name }}";
        ddns-domainname "{{ domain_name }}.";
        ddns-rev-domainname "{{ oob_mgmt_subnet | ipaddr('network') | ipaddr('revdns') | regex_search('(\d+)(\w.+)') }}";

        default-lease-time 86400;
        max-lease-time 86400;

{% for host in static_host %}
        host {{ host.ddns_name }}.cumulusvxgns3.lab {
        hardware ethernet {{ host.hwaddress }};
        ddns-hostname "{{ host.ddns_name }}";
        }
{% endfor %}

}
